header {
  text-align: center;
}

header a button {
  display: inline-block;
  margin: 10px 0;
}

#list {
  padding: 2em 0;
}

/* alias for .fa-globe */
.fa-web:before{
  content:"\f0ac"
}

.center {
  text-decoration: none !important;
}
